.logo {
  height: 50px;
  width: 50px;
}

.user-icon {
  height: 50px;
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.search-bar{
  display:flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}